<div class="edit-box">

<h1>User info</h1>

<%= form_for(@user) do |f| %>

<% if @user.errors.any? %>
	<h2><%= @user.errors.count %>error prohibited this obj from being saved:</h2>
	<ul><% @user.errors.full_messages.each do |messages| %></ul>
		<li><%= messages %></li>
	<% end %>
<% end %>


<div class="edit-box2">
	<h4 class="edit-box3">Name</h4>
	<%= f.text_field :name %>
</div>

<div class="edit-box2">
	<h4>Image</h4>
	<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
</div>
<div class="edit-box2">
	<h4 class="edit-box3">Introduction</h4>
	<%= f.text_area :introduction %>
</div>

	<%= f.submit 'Update User' %>
<% end %>

</div>
