<h1>User info</h1>
<% if flash[:error].present?   %>
<%# byebug %>
<% flash[:error].each do |message| %>
	<div class="form-error">
		<%= message %>
	</div>
<% end %>
<%# flash[:error]="" %>
<% end %>

<%= form_for(@user) do |f| %>
	<h4>name</h4>
	<%= f.text_field :username %>

	<h4>Image</h4>
	<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>

	<h4>Introduction</h4>
	<%= f.text_area :introduction %>

	<%= f.submit 'Editting User' %>
<% end %>
