<div class="container">
	<div class="row sampleRow">
		<div class="col-xs-3">
				<h1>User info</h1>
				<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class: "user-image", fallback: "noimage.png" %>
				<table class="table">
				<thead>
					<tr>
						<th>name</th>
						<th><%= @user.username %></th>
					</tr>
				</thead>
				</table>

				<table class="table">
				<thead>
					<tr>
						<th>introduction</th>
						<th><%= @user.introduction %></th>
					</tr>
				</thead>
				</table>

				<button class="btn btn-default btn-lg btn-block">
					<%= link_to edit_user_path(current_user) do %>
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<% end %>
			    </button>

				<h1>New book</h1>
					<%= form_for(@book) do |f| %>
				<div class="field_row">
							<h4>title</h4>
						<div class="user-show">
							<%= f.text_field :title %>
						</div>
							<h4>opinion</h4>
						<div class="user-show2">
							<%= f.text_area :body %>
						</div>
						<div class="user-show">

							<button class="btn btn-primary btn-lg btn-block"><% f.submit %>Create Book</button>
						</div>
					<% end %>
				</div>
		</div>


		<div class="col-xs-9">
			<h1>Books</h1>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>title</th>
						<th>opinion</th>
					</tr>
				</thead>
			<% @books.each do |book| %>
				<tbody>
					<tr>
						<td><%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, class: "user-image2", fallback: "noimage.png" %></td>
						<td><%= link_to book.title, book_path(book) %></td>
						<td><%= book.body %></td>
					</tr>
				</tbody>
			<% end %>
			</table>
		</div>
	</div>
</div>




