<div class="edit-box">


<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>

<% if @book.errors.any? %>
	<h2><%= @book.errors.count %>error prohibited this obj from being saved:</h2>
	<ul><% @book.errors.full_messages.each do |messages| %></ul>
		<li><%= messages %></li>
	<% end %>
<% end %>
	<h4>Title</h4>
		<%= f.text_field :title, :size => "99*99" %>
	<h4>Opinion</h4>
		<%= f.text_area :body, :size => "101*101" %>

	<button class="btn btn-primary btn-lg btn-block"><% f.submit %>Update Book</button>
<% end %>

<%= link_to "Show", book_path %>
<%= link_to "Back", books_path %>
</div>

