<div class="container">
	<div class="row sampleRow">
		<div class="col-xs-3">
			<%= render 'books/list2', user: @book.user %>
			<%= render 'books/list', book: @new_book %>
		</div>



		<div class="col-xs-9">
			<h1>Books detail</h1>

			<% if @book.user == current_user %>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
					<tr>
						<td><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, class: "user-image2", fallback: "noimage.png" %>
							<br><%= link_to @book.user.name, user_path(current_user) %></td>
						</td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>
						<td><%= link_to edit_book_path(@book.id) do %>
								<button class="btn btn-success">Edit</button>
							<% end %>
						</td>
						<td><%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
								<button class="btn btn-danger">Destroy</button>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
			<% else %>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
					<tr>
						<td>
							<%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, class: "user-image2", fallback: "noimage.png" %><br>
							<%= link_to user_path(@book.user.id) do %>
							<%= @book.user.name %>
							<% end %>

						</td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>
					</tr>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>
</div>




