<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">
        Bookers
      </p>
    </div>

    <div class="collapse navbar-collapse" id="navbarEexample7">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>

          <li><%= link_to "Home", user_path(current_user.id) %></li>
          <li><%= link_to "users", users_path %></li>
          <li><%= link_to "books", books_path %></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Home", top_book_path %></li>
          <li><%= link_to "About", top_user_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>

<p class="top-text">CopyRight Infratop.inc</p>
</html>
